<% provide(:title, "Help") %>
<h1>Tweeter - Help Page</h1>
  <p>
    Need any help in using Tweeter? We are here to guide you. <br>
    You can also check the files of this application at
    <a href="https://github.com/blue0knight/TweeterVer2.0">
    GitHub.</a> <br> You are welcome to clone, fork or modify this application.
  </p>
