<% provide(:title, "Home") %>
  <!-- Main component for a primary marketing message or call to action -->
  <div class="jumbotron">
    <h1>Welcome to Tweeter</h1>
      <p>
        Let's start tweeting!!!
      </p>
    <%= link_to "Sign up now!", '#', class: "btn btn-lg btn-primary" %>
  </div>
