<footer class="footer">
  <small>
    <a href="#">Tweeter Ver 2.0</a> by
    <a href="http://ranthonyrivera.com">blue0knight</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",  '#' %></li>
      <li><%= link_to "Contact",   '#' %></li>
    </ul>

  </nav>
</footer>
